
{#{% load crispy_forms_tags %}#}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

</head>
<body>
{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
<h1>{{ title }}</h1>
<hr/>


<form method="POST" action="" >{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-default" value="{{ title }}">
</form>
</div>
{% endblock content %}
</body>
</html>


